body {
  font-size: 100%;
  background-color: #B8D5DD;
  font-family: 'Cabin', sans-serif;

}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: #B8D5DD;
}

a:hover, a:focus {
}

a:visited {
}
